.plans-head{
    background-color: black !important;
    display: flex;
    color: white;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    justify-content: space-between !important;
    align-content: space-between !important;
}
.plans-head ul{
 list-style: disc;
 margin-left: 1em;
}
.plans:hover{
    background-color: #f0151f;
    cursor: pointer;
    color: white;
}
.border-plans{
    border: 1px solid #f0151f !important;
}
.input-plan:hover{
    cursor: pointer;
}
.selectedPlan{
    background-color: #f0151f  !important;
    color: white !important;
}
.input-plan:checked{
background-color:#f0151f !important;
color: white !important;
}
.pre-scrollable{
    max-height:560px !important;
}